<%= link_to recipe.url, target: :_blank do %>
  <div class="flex flex-wrap sm:flex-nowrap gap-4 p-4 rounded-sm shadow">
    <div class="shrink-0">
      <%= image_tag recipe.image_url, class: "object-cover rounded-md w-24 h-24", alt: "" %>
    </div>
    <div class="grow-1">
      <h2 class="text-lg font-semibold text-gray-800"><%= recipe.title %></h2>
      <p class="text-sm text-gray-600"><%= recipe.description %></p>
    </div>
  </div>
<% end %>
