<div>
  <p class="mt-4 font-normal text-lg leading-8 text-gray-600 text-center">
    Save, search and find your favourite recipes
  </p>
  <nav class="py-8 flex justify-end">
    <%= link_to "Add",
        new_recipe_path,
        class: "group relative py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </nav>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= render recipe %></li>
    <% end %>
  </ul>
</div>
